body {
  background-color: black;
  color: white;
  font-family: Arial;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 24px;
}

.video-container {
  width: 100%;
}

.boton-container {
  text-align: center;
  margin: 20px;
}

.boton-rojo {
  background-color: red;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
