pantalla-inicio {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-rojo {
  background-color: red;
  color: white;
  padding: 20px 40px;
  font-size: 22px;
  border: none;
  border-radius: 12px;
}
